@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}
body{
    margin:0;
    padding:0;
}
:root{
    --background-color:#F2F2F2;
}
.nav h1, .nav-links li, .nav button, .social-links li{
    cursor: pointer;
}
.nav-links, .social-links{
    list-style: none;
}
/*       nav      */
.nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    padding: 4px 15px;
    align-items: center;
}
.nav-links{
    display: flex;  
}
.nav-links li{
    font-size: 18px;
    margin-right: 1.1rem;
}
.nav button{
    background: transparent;
    border: 1px solid #3C3C3C;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
    
}
/*       header      */
.header{
    background-image:url('../assets/img/city.jpg');
    height: calc(100vh - 154px);
    background-position: center;
    background-size: cover;
    color:white;
  background-color: #9e89b8;
    background-blend-mode: luminosity;
}
.header .content{
    font-size: 19px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding-left: 5rem;
}
.header .content p:nth-child(3){
    margin-top: 0px;
}
/*       footer      */
.footer{
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    height: 75px;
    align-items: center;
}
.footer ul.social-links {
    display: flex;
    justify-content: space-between;
}
.footer ul.social-links img{
    width: 20px;
    margin-right: 16px;
}
/*       Media Queries      */
@media (max-width: 576px) { 
    .header .content {
        font-size: 17px;
        width: 100%;
        padding-left: 1rem;
    }
    .nav-links{
        display: none;
    }
    .footer{
        display: flex;
        flex-direction: column;
        height: 91px;
    }
    .social-links{
      margin-top: 0;
    }
  }
@media (max-width: 768px) {  
    .header .content {
        width: 100%;
 }}
